CI_ENV=development

APP_BASE_URL=http://consultaadm.test/
APP_COOKIE_DOMAIN=
APP_ENCRYPTION_KEY=change-this-random-key

DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=
DB_NAME=redemaiscredito

ADMIN_PASSWORD=change-this-admin-password
SUPER_PASSWORD=change-this-super-password
GERENCIA_PASSWORD=change-this-gerencia-password
BOLETO_BAIXA_PASSWORD=change-this-boleto-password
SENDGRID_API_KEY=

SICOOB_CERT_PATH=cert/rmc_2026.pfx
SICOOB_CERT_PASSWORD=
SICOOB_CLIENT_ID=
SICOOB_NUMERO_CLIENTE=
SICOOB_CONTA_CORRENTE=
SICOOB_BENEFICIARIO_CPF_CNPJ=
SICOOB_BENEFICIARIO_NOME=Rede Mais Credito
SICOOB_AGENCIA=
SICOOB_CONTA_REMESSA=
SICOOB_CONTA_DV=
SICOOB_EMPRESA_NOME=REDE MAIS CREDITO
SICOOB_BANCO_NUMERO=756
SICOOB_BANCO_NOME=SICOOB
